@page
@model ParseModel
@{
}

<h1>Parsing Mi-xx</h1>

<div>@Model.Goods.Count() goods parsed</div>
<table class="table">
    @foreach (var good in Model.Goods)
    {
    <tr>
        <td>@good.GoodId</td>
        <td>@good.Name</td>
        <td>@good.Price</td>
    </tr>
    }
</table>

<form method="post">
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="../Items/List" class="btn btn-default">Cancel</a>
</form>
