@using MobileSite.Core
@model Item

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Model.Name</h3>    
    </div>
    <div class="panel-body">
        <span>Price: @Model.Price</span>
        <span>PriceMI92:@Model.PriceMi92</span>
        <span>Type: @Model.Type</span>
    </div>
    
    </div>
</div>