@page "{itemId:int?}"
@model MobileSite.Pages.Items.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.Item.Name</h2>

<form method="post">
    <input type="hidden" asp-for="Item.Id" />
    <input type="hidden" asp-for="Item.IdMixx" />
    <div class="form-group">
        <label asp-for="Item.Name"></label>
        <input asp-for="Item.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Item.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Item.Price"></label>
        <input asp-for="Item.Price" class="form-control" />
        <span class="text-danger" asp-validation-for="Item.Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="Item.IdMi92"></label>
        <input asp-for="Item.IdMi92" class="form-control" />
        <span class="text-danger" asp-validation-for="Item.IdMi92"></span>
    </div>
    <div class="form-group">
        <label asp-for="Item.Type"></label>
        <select asp-for="Item.Type" asp-items="Model.Types" class="form-control"></select>
        <span class="text-danger" asp-validation-for="Item.Type"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>